.pagination-blog{
	ul{
		border:none;

		li{
			border:none;
			margin:0 .3rem;

			span{
				border:2px solid;
				@include border-radius(0);
				text-transform:uppercase;
				@include font-size($small-font-sizes);
				font-weight:500;
				padding:.4rem 1rem;
				@include styled_blog($colors) {
					background: themed('linkColor');
					color:themed('nutralColor');
					border-color: themed('linkColor');
			}	}
		}
	}



	a{
		@extend %btn;
		@include styled_blog($colors) {
    		background-color: themed('nutralColor');
  		}
  		margin:0 .3rem;
	}

	span.current{
		border:2px solid;
		@include border-radius(0);
		text-transform:uppercase;
		@include font-size($small-font-sizes);
		font-weight:500;
		padding:.4rem 1rem;
		margin:0 .3rem;
		@include styled_blog($colors) {
			background-color: themed('linkColor');
			color:themed('nutralColor');
			border-color: themed('linkColor');
		};
	}
}

.pagination-blog{
	position:absolute;
	bottom:0px;
	@include transform(translate(0, 58px));
	@include mq($min-width: 768px) {
		@include transform(translate(0, 50px));
	margin:auto;
	left:0;
	right:0;
	bottom:20px;

	}
	
}
//woocommerce pagination
	.woocommerce nav.woocommerce-pagination{
		ul{
			border:none;

			li{
				border:none;
				margin:0 .3rem;

				a{
					@extend %btn;
					@include styled_blog($colors) {
			    		background-color: themed('nutralColor');
			  		}
	  				margin:0 .3rem;
				}
				span.current,
				a:hover,
				a:focus{
					border:2px solid;
					@include border-radius(0);
					text-transform:uppercase;
					@include font-size($small-font-sizes);
					font-weight:500;
					padding:.4rem 1rem;
					@include styled_blog($colors) {
						background-color: themed('linkColor');
						color:themed('nutralColor');
						border-color: themed('linkColor');
				}	}
			}
		}

	}

.woocommerce.styled_blog--light nav.woocommerce-pagination{
		ul{
			li{
				a{
					background-color:$nutral__color-light;
				}
				span.current,
				a:hover,
				a:focus{
					background-color:$link__color-light;
					color:$nutral__color-light;
					border-color:$link__color-light;
				}
			}
		}

	}

.woocommerce.styled_blog--dark nav.woocommerce-pagination{
		ul{
			li{
				a{
					background-color:$nutral__color-dark;
				}
				span.current,
				a:hover,
				a:focus{
					background-color:$link__color-dark;
					color:$nutral__color-dark;
					border-color:$link__color-dark;
				}
			}
		}

	}
