.styled_blog__latest__ticker{
	
}
.styled_blog__right__fixed{
	display:flex;
	justify-content:space-between;
	padding:1rem;
	
	
	@include styled_blog($colors) {
    	background-color: themed('nutralColor');
  	};
  	

 	@include mq($min-width: 768px) {
		position:fixed;
		width:inherit;
		max-width:inherit;
		height:100%;
		padding-top:2rem;
 		padding-bottom:5rem;
 		text-align:center;
 		display:block;
 		z-index:999;
	};


	&--nav{
		display:none;
		position:relative;
		ul.right-social-menu{
			@include mq($min-width: 768px) {
				@include transform(translate(-50%, 0) rotate(-90deg));
				position:absolute;
				top:185px;
				display:flex;
				width:auto;
				left:50%;
				@extend %list-items;

				
			}
			
		}
		@include mq($min-width: 768px) {
			display:block;
		}

		li{
			 justify-content: center;
		}

		a{
			padding:.8rem;
			font-weight:bold;
			letter-spacing:5px;
		}
	}

	.styled_blog_move_to_top{
		display:none;
		@include transition(all 300ms ease-in-out);
		span{
			position:relative;
			position:absolute;
			bottom:160px;
    		display:block;
    		cursor:pointer;
    		@include styled_blog($colors) {
    			color: themed('linkColor');
  			}
  			left:50%;
  			margin-left:-11px;
  			font-weight:500;
  			@include font-size($heading3-font-sizes);
  			z-index:9999;

  			&:hover{
				text-decoration: none;
				@include styled_blog($colors) {
		    		color: themed(linkhoverColor);
  				}
			}
		}
	}


	.styled_blog_cart_icon{
		@include styled_blog($colors) {
	    	background-color: themed('backgroundColor');
	  	};
	  	border-radius:50%;
	  	padding:.7rem;
	  	display: block;
	    width: 40px;
	    height: 40px;
	    margin: auto;
	    position:relative;
	    line-height:1;

	    @include mq($min-width: 768px) {
			padding:1rem;
			width: 56px;
	    	height: 56px;
	    	margin-top:1rem;
		};
	}
	.cart-contents{
		position:relative;
		display: inline-block;
		.styled_blog_cart_num{
			padding: 0 0.3rem;
	    	line-height: 1;
	    	@include styled_blog($colors) {
		    	background-color: themed('linkColor');
		    	color: themed('nutralColor');
		  	};
		  	text-align:center;
		  	position: absolute;
	    	top: 0px;
	    	right:0;
	    	@include mq($min-width: 768px) {
	    		top: 10px;
	    		margin-top: 1rem;
	    	}
		}

		.woocommerce-Price-amount{
			@extend %entry-meta;
			padding: .5rem;
			display:inline-block;
			margin:0;

		}
	}

	.site-branding{
		padding:0;
		text-align:center;

		.site-description{
			margin-bottom: 0;
		}

	}
}

